:root {
    font-family: 'Julius Sans One', sans-serif;
}
body {
    min-height: 100%vh;
    max-width: 1000px;
    margin: auto;
    font-family: 'Julius Sans One', sans-serif;
}

.border {
    border-left: 5px solid lightgray;
}

.header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.header-title {
    font-size: 90px;
}
.nav {
    padding: 0%;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

.ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

.li {
    color: lightgray;
}

.main {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.article {
    margin-bottom: 4rem;
    padding-bottom: 2rem;
}

.blog-date {
    font-size: 40px;
}

.blog-title {
    font-size: xx-large;
}

p::first-letter {
    font-size: 300%;
    color: lightgray;
    padding: 6px 3px;
    margin-right: 6px;
    float: left;
}
.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.button {
    float: right;
    background-color: white;
    font-weight: bold;
    border: none;
    color: tomato;
}

.tomato {
    color:tomato
}

.img {
    width: 100%;
}

.copywrite {
    color: lightgray;
}
